*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
}

@media print {
  body {
    height: 6in;
    width: 4in;
  }

  .entry-container *,
  .print-button,
  .label:not(.print-visible) {
    display: none;
  }
  
  .label.print-visible {
    border: none;
    height: 6in;
    left: 0;
    top: 0;
    width: 4in;
  }
}

button, label {
  cursor: pointer;
}

.entry-container, .label-container {
  display: inline-block;
  padding: .5em;
  position: relative;
  vertical-align: top;
}

/* entry area */

.entry-container {
  font-size: 16px;
  width: 400px;
}

.barcode-input {
  font-size: 1.25em;
  width: 100%;
}

.autoprint-label {
  background-color: rgba(222, 237, 238, 1);
  border: 2px solid rgba(192, 207, 208, 1);
  border-radius: 10px;
  display: inline-block;
  margin: 1em;
  padding: .5em;
}

.alert:not(:empty) {
  border: 3px solid transparent;
  border-radius: 10px;
  margin-bottom: 1em;
  padding: .5em;
  width: 100%;
}

.alert.alert-error {
  background-color: rgba(204, 9, 47, .5);
  border-color: rgba(184, 0, 27, 1);
  color: rgba(255, 255, 255, .95);
  font-weight: 100;
}

.settings-button, .settings-close {
  border: 1px solid transparent;
  border-radius: 5px;
  bottom: 1.75em;
  font-size: 1em;
  padding: .5em;
}

.settings-button {  
  background-color: #e5e5e5;
  border-color: #c3c3c3;
  position: absolute;
  right: 10px;
}

.settings-close {
  background-color: lightblue;
  border-color: darkblue;
}

/* label */

.label-target {
  height: 6in;
  position: relative;
  width: 4in;
  vertical-align: top;
}

.label-target:empty + .print-button {
  display: none;
}

.label {
  background-color: #fff;
  border: 1px solid black;
  position: absolute;
  left: 0;
  opacity: 1;
  width: 4in;

  transition: opacity 750ms ease-out, 
                  top 750ms ease-out;
}

.label.removed {
  left: 999px;
  opacity: 0;
}

.label .item-title {
  font-size: .85em;
  font-style: italic;
}

.label section {
  display: inline-block;
}

.label h1, 
.label h2, 
.label h3, 
.label h4, 
.label h5, 
.label h6 {
  font-size: 1.25em;
  text-transform: uppercase;
}

.label-container img {
  width: 100%;
}

.info {
  padding: .25em;
  width: 75%;
}

.due-date {
  margin-top: 1.5em;
  width: 25%;
  vertical-align: top;
}

.due-date table {
  border-collapse: collapse;
  display: block;
}

.due-date td {
  border: 1px solid black;
}

.course-info {
  display: block;
  font-size: 2em;
  margin: auto;
}

.print-button {
  background-color: rgba(0, 210, 255, 1);
  border: 2px solid rgba(0, 0, 255, 1);
  border-radius: 2px;
  bottom: 0;
  margin-top: 1em;
  position: absolute;
  width: 100%;
}

/* options page */

.options-panel {
  background-color: #e5e5e5;
}

.options-group {
  display: block;
  margin: .5em auto;
}

.options-group input,
.options-group label {
  display: inline-block;
}

.options-group input[type="text"],
.options-group input[type="password"],
.options-group textarea {
  font-size: 1em;
  width: 20em;
  vertical-align: middle;
}

.options-group label {
  font-weight: 700;
  width: 10em;
  vertical-align: middle;
}

.options-group .ok::after {
  color: green;
  content: "\2713";
}
