<div class="label">
  <header>
    <img src="assets/trexler-logo.png">
  </header>

  <section class="info">
    <h1><%= name %></h1>
    <p class="item-title"><%= title %></p>

    <p>The loan period for this item is <%= loanPeriod %>. A fine of <%= fee %>/<%= feePeriod %> will be charged for 
    each <%= feePeriod %> that this item is overdue.</p>

    <!-- Class info -->
    <span class="course-info">
      <%= course %>
    </span>


    <h2>This item may not leave the library</h2>

    <address>
      Trexler Library<br>
      Muhlenberg College<br>
      484-664-3500
    </address>

    <h2>Please do not remove</h2>
  </section><!--
  --><section class="due-date">

    <table>
      <tr><th>Time Due</th></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <!-- <tr><td>&nbsp;</td></tr> -->
    </table>
  </section>
</div>